secrets:
  cloudflare-token:
    file: "/path/to/cloudflare-token.txt"

# note : make sure network named "proxy" is created before running this
networks:
  proxy:
    external: true

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
    secrets:
      - cloudflare-token
    environment:
      - "CF_DNS_API_TOKEN_FILE=/run/secrets/cloudflare-token"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/acme.json:/acme.json
      - ./data/config.yml:/config.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=https"
      - "traefik.http.routers.traefik.rule=Host(`traefik.server.example.com`)"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik.tls.domains[0].main=server.example.com"
      - "traefik.http.routers.traefik.tls.domains[0].sans=*.server.example.com"
      - "traefik.http.routers.traefik.service=api@internal"
