services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --schedule=0 0 3 * * 0               # 3:00 AM every Sunday
      - --cleanup
      - --include-stopped
