networks:
  proxy:
    external: true

services:
  librespeed:
    image: lscr.io/linuxserver/librespeed:latest
    container_name: librespeed
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kolkata
      - PASSWORD=PASSWORD
    volumes:
      - ./config:/config
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.librespeed.entrypoints=https"
      - "traefik.http.routers.librespeed.rule=Host(`speed.server.example.com`)"
      - "traefik.http.routers.librespeed.tls=true"
      - "traefik.http.routers.librespeed.service=librespeed"
      - "traefik.http.services.librespeed.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
